.hero-img {
    background-image: url("/static/images/bg1.jpg");
    height: 130vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -2;
    /* Animation */
    /* animation: anim 10s infinite ease-in-out; */
}



@keyframes anim {

    0% {
        background-image: url("/static/img/bg1.jpg");
    }

    50% {
        background-image: url("/static/img/bg2.jpg");
    }

    100% {
        background-image: url("/static/img/bg3.jpg");
    }
}

.hero-text {
    font-weight: 800;
    text-shadow: 2px 4px black;

}

#mid-section {
    /* background-color: #886765ff; */
    background-image: linear-gradient(#5A4B4C,#B1867E);
    height: 30vh;
    
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}




.navbar {
    transition: all 0.8s;
}

.navbar-scrolled {
    background-color: #000000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}


.glass-card {
    z-index: 5;
    backdrop-filter: blur(2rem);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    height: 50vh;
    border: 2px solid transparent;
    box-shadow: 5px 8px 10px rgba(45, 55, 68, 0.3);
}

.searchBar {
    border-style: solid;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    
}

.dropDown {
    border-style: solids;
    border-color: white;
    border-radius: 50px;
    width: 200px;
    background-color: transparent;
    height: 4vh;

}


.partyTypeDropDown {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: transparent;
}


/* Down arrow animation */
.down-arrow {
    position: relative;
    animation: downArrowAnim 2s infinite ease-in-out;
}

@keyframes downArrowAnim {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: -80px;
    }

    100% {
        bottom: 0px;
    }
}


/* About us section */
#about-section{
    background-image: linear-gradient(#B1867E,#5A4B4C);
    height: 30vh;
    backdrop-filter: blur(20px);

}

/* Contact section */
#contact-section{
    background-image: linear-gradient(#5A4B4C,#B1867E);
    height: 60vh;
    backdrop-filter: blur(20px);

}