{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom_css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/custom_js/index.js' %}"></script>

    <title>Event</title>
</head>

<body style="background-color: #DAE2B6; ">
    <div class="container-fluid py-2"  style="background-color: #F4EAD5;">
        <div class="container" >
        
            {% for party in partyData %}
            <img style="border: solid 2px black; border-radius: 20px; " src={{party.Image}} class="img-fluid" alt="">
            {% endfor %}
    
    
        </div>

    </div>
    


<div class="container">
    <div class="row">
            
                <div class="col-12">
                    {% for party in partyData %}
                    <p class="h1">{{party.Party_Name}}<p>
                    {% endfor %}
               
                    
                </div>
    
       
    </div>
        
</div>
           
</div>

        

        <div class="container my-2">
            <h5 class=" h1">ABOUT EVENT:</h5>
            <div class="glass-card-list p-2">
                <div class="row">
                    
                    <div class="col-md-10">
                        <h3>Description:</h3>
                        {% for party in partyData %}
                        <h5>{{party.Event_Details}}</h5>
                        {% endfor %}</p>
                    </div>
                    </div>
        
                    <div class="row">
                       
                        <div class="col-md-10">
                            
                            <svg class="d-inline" xmlns="http://www.w3.org/2000/svg" width="30" height="28" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                              </svg>
                            {% for party in partyData %}
                            <h4 class="d-inline">{{party.Location}}</h4>
                            {% endfor %}
                       
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-10">
                            {% for party in partyData %}
                            <h5>{{party.Date}} {{party.Time}}</h5>
                            {% endfor %}
                        </div>
                        </div>
        
                            <div class="row">
                                <div class="col-md-10">
                                    {% for party in partyData %}
                                    {% if party.Age_Criteria == 1 %}
                                    <h5>Family Friendly</h5>
                                    {% elif party.Age_Criteria == 2%}
                                    <h5>Family Friendly</h5>
                                    {% elif party.Age_Criteria == 3%}
                                    <h5>20+ only</h5>
                                    {% elif party.Age_Criteria == 4%}
                                    <h5>18+ only</h5>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                               
                            
                                    <div class="row">
                                        <div class="col-md-10">
                                            {% for party in partyData %}
                                            <h5>{{party.Amount}}</h5>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-10">
                                            {% for party in partyData %}
                                            <h5>{{party.Venue}}</h5>
                                            {% endfor %}
                                        </div>
                                    </div>
                                       
                                    <div class="row">
                                        <div class="col-md-10">
                                            {% for party in partyData %}
                                            <h5>{{party.State}}</h5>
                                            {% endfor %}
                                        </div>
                                    </div>
                                            
                                    <div class="row">
                                        <div class="col-md-10">
                                            {% for party in partyData %}
                                            <h5>{{party.City}}</h5>
                                            {% endfor %}
                                        </div>
                                    </div>
        
                     <div class="row ">
                    <div class="text-center">
                        <button  type="button" class="btn btn-primary col-2 " data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-bs-whatever="@mdo">BOOK</button>
                    </div>
                        
        
                </div>
                       
        </div>
    </div>
       
                         <div class="col-md-2">
                                        
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form method="POST" action="/book/">
                                                   
                                                    {% for party in partyData %}
                                                    <input hidden name="partyId" type="text" value={{party.id}}>
                                                    {% endfor %}
                                                  
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">USER
                                                                DETAILS</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <div class="row">
                                                                    {% csrf_token %}
                                                                    <div class="col-md-12">

                                                                        <label for="inputFullname"
                                                                            class="form-label">Full Name</label>
                                                                        <input type="text" name="fname"
                                                                            class="form-control" id="inputFullname">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label for="inputEmail"
                                                                            class="form-label">Email</label>
                                                                        <input type="email" name="email"
                                                                            class="form-control" id="inputEmail">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label for="inputContact"
                                                                            class="form-label">Contact</label>
                                                                        <input type="Contact" name="con"
                                                                            class="form-control" id="inputContact">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label
                                                                            for="floatingTextarea2">Address</label>
                                                                        <div class="form-floating">
                                                                            <textarea class="form-control"
                                                                                name="add" placeholder="Address"
                                                                                id="floatingTextarea2"
                                                                                style="height: 100px">
                                                                            </textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label for="inputCity"
                                                                            class="form-label">City</label>
                                                                        <input type="text" name="city"
                                                                            class="form-control" id="inputCity">
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <label for="inputState"
                                                                            class="form-label">State</label>
                                                                        <input type="text" name="state"
                                                                            class="form-control" id="inputState">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label for="inputPincode"
                                                                            class="form-label">Pincode</label>
                                                                        <input type="text" name="pin"
                                                                            class="form-control" id="inputPincode">
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label for="inputMembers"
                                                                            class="form-label">Members</label>
                                                                        <input type="number" name="mem"
                                                                            class="form-control" id="inputMembers" onchange="changeAmount()">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input"
                                                                                type="checkbox" id="gridCheck">
                                                                            <label class="form-check-label"
                                                                                for="gridCheck">
                                                                                *Accept all terms and conditions
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="col">
                                                                <label for="inputAmount"
                                                                    class="form-label">Amount</label>
                                                                    {% for party in partyData %}
                                                                    <h1 id="amountID">{{party.Amount}}</h1>
                                                                    {% endfor %}
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Book
                                                                Ticket</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
</body>

</html>








<div class="container">
    
    <div class="modal fade" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        USER DETAILS</h5>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form class="row">
                            <div class="col-md-12">
                                <label for="inputFullname"
                                    class="form-label">Full
                                    Name</label>
                                <input type="email"
                                    class="form-control"
                                    id="inputFullname">
                            </div>
                            <div class="col-md-12">
                                <label for="inputEmail"
                                    class="form-label">Email</label>
                                <input type="email"
                                    class="form-control"
                                    id="inputEmail">
                            </div>
                            <div class="col-md-12">
                                <label for="inputContact"
                                    class="form-label">Contact</label>
                                <input type="Contact"
                                    class="form-control"
                                    id="inputContact">
                            </div>
                            <div class="col-12">
                                <label
                                    for="floatingTextarea2">Address</label>
                                <div class="form-floating">
                                    <textarea class="form-control"
                                        placeholder="Address"
                                        id="floatingTextarea2"
                                        style="height: 100px">
    </textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputCity"
                                    class="form-label">City</label>
                                <input type="text"
                                    class="form-control"
                                    id="inputCity">
                            </div>
                            <div class="col-md-5">
                                <label for="inputState"
                                    class="form-label">State</label>
                                <input type="text"
                                    class="form-control"
                                    id="inputState">
                            </div>
                            <div class="col-md-3">
                                <label for="inputPincode"
                                    class="form-label">Pincode</label>
                                <input type="text"
                                    class="form-control"
                                    id="inputPincode">
                            </div>
                            <div class="col-md-12">
                                <label for="inputMembers"
                                    class="form-label">Members</label>
                                <input type="number"
                                    class="form-control"
                                    id="inputMembers">
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input"
                                        type="checkbox"
                                        id="gridCheck">
                                    <label class="form-check-label"
                                        for="gridCheck">
                                        *Accept all terms and
                                        conditions
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <label for="inputAmount"
                            class="form-label">Amount</label>
                        <input type="text" class="form-control"
                            id="inputAmount">
                    </div>
                    <button type="button"
                        class="btn btn-primary">Book Ticket</button>
                </div>
            </div>
        </div>
    </div>
</div>