<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style.css">

</head>
<body>
   <div>
      <!-- header section start -->
      <div class="header_section">
           <div class="main">
               <form class="form-inline my-2 my-lg-0">
                  <div class="call_text">
                     <ul>
                        <li><a href="#"><img src="images/call -icon.png"><span class="padding_left_10">+71 67896543</span></a></li>
                        <li><a href="#"><img src="images/mail-icon.png"><span class="padding_left_10">demo@gmail.com</span></a></li>
                        <li><a href="#"><img src="images/search-icon.png"></a></li>
                     </ul>
                  </div>
               </form>
            </div>
      <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
						   <div class="container">
						      <h1 class="banner_taital">Let's Celeva Wishes You Happy</h1>
                        <h1 class="banner_taital_1">Christmas</h1>
                        <h4 class="banner_text">25 Desmber 2019</h4>
                        <div class="read_bt"><a href="INDEX.html">Buy Now</a></div>
						   </div>
                  </div>
      
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-up"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-down"></i>
               </a>
            </div>
         </div>
         
        </div>
       <div class="container">
         <div class="date_main">
          <h1 class="date_text"><span style="color: FFB100;">25 December</span></h1>
          <hr class="border" style="margin-right: 10px;
          margin-left: 10px;"></hr>
          <p class="text"><span style="color: FFB100;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</span></p>
         </div>
        
         
       </div>
      </div>
      <!-- banner section end -->
      <!--About Section start--->
      <div class="about_section layout_padding">
		   <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <h1 class="about_taital">ABOUT <span style="color: #ff3f5c;">EVENTS</span></h1>
                  <p class="about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons</p>
               </div>
               
            </div>
            <div class="map_main">
               <div class="map-responsive">
                  <div class="col-lg-8">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.1345682278593!2d73.8367231146884!3d18.522820087407744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf80982203c7%3A0xba2ba195e24b828a!2sFergusson%20College%20(Autonomous)%2C%20Pune!5e0!3m2!1sen!2sin!4v1672047671439!5m2!1sen!2sin" width="600" height="450" style="border: 5px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
               </div>
            </div>
		   </div>
	  </div>
     <!--About section end-->
   </div>  
</body>
</html>